__pycache__/
*.py[cod]
.venv/
venv/
*.csv
*.pkl
*.joblib
mlruns/
mlartifacts/
/data/raw/*
/data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.pkl
.ipynb_checkpoints
.vscode/
.DS_Store